.container {
  background-color: #b5b1dc;
  color: #000;
  min-height: 100vh;
  height: 100%;
  width: 100%;
}

.container h1 {
  font-weight: 500;
  font-weight: bold;
  font-size: 48px;
  text-align: center;
}

.center-block {
  margin: 0 auto;
  width: 35%;
}

.container-line {
  margin: 0 auto;
  width: 240px;
  border: 1px solid #dad8d8;
  margin-bottom: 30px;
}

.form-group {
  width: 90%;
  margin: 50px auto;
  display: block;
  background-color: #7d77c2;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0   rgba(0,0,0,.12);
  border-radius: 2px;
}

.table-wrapper {
  width: 50%;
  margin: 0 auto;
  display: block;
  background-color: #7d77c2;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0   rgba(0,0,0,.12);
  border-radius: 2px;
}

.container-table {
  width: 100%;
  margin: 0 auto;
}
/* .form {
  display: none;
} */

.showForm-checkbox {
  width: 20px;
  height: 20px;
}


.form-control {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0   rgba(0,0,0,.12);
  border-radius: 2px;
}

.product-notation {
  resize: none;
}

.form-check-label {
  margin: 10px;
  
}

.add-product {
  display: flex;
  margin-top: 10px;
}
.bought-item {
  display: flex;
}

.colorBodyChange {
  background-color: rgb(13, 204, 13);
}

@media (max-width: 768px) {
  .table-wrapper {
    width: 80%;
    margin: 0 auto;
}

.center-block {
  width: 90%;
}
}